# Entorno virtual
env/
venv/
.env

# Archivos de Python
*.pyc
__pycache__/

# Base de datos
*.sqlite3
*.db

# Archivos de entorno
.env
*.env

# Django
/media/
/staticfiles/

# IDE
.vscode/
.idea/
.qodo/

# Otros
.DS_Store